a {
  color: #333;
  text-decoration: none; }
  a:hover {
    opacity: .7; }

body {
  font-family: -apple-system, system-ui, "Helvetica Neue", "PingFang SC", "Microsoft YaHei", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif; }

figcaption {
  text-align: center;
  margin-top: .66667em;
  margin-bottom: .66667em;
  padding: 0 1em;
  font-size: .7em;
  line-height: 1.5;
  color: #999; }

blockquote ol:last-child, blockquote p:last-child, blockquote ul:last-child {
  margin-bottom: 0 !important; }

blockquote ol:first-child, blockquote p:first-child, blockquote ul:first-child {
  margin-top: 0 !important; }

.big-head {
  font-size: 1.5em;
  color: #e11111;
  display: block;
  margin: 1em 0 1em; }

.read-bf-com {
  font-size: 12px;
  margin-bottom: 5px; }
  .read-bf-com > a {
    color: #e11111;
    text-decoration: none;
    border-bottom: dotted 1px #ababab; }

.color-span {
  background-color: #f56c6c !important; }

.pin-icon {
  font-size: 1.2em;
  color: #e11111; }

.slogan {
  font-size: 1.2em;
  display: block;
  margin-bottom: 1em; }

.float-btn {
  position: fixed;
  right: 4px;
  text-align: center;
  background-color: #fff;
  width: 40px;
  line-height: 40px;
  border-radius: 20px;
  cursor: pointer;
  transition: .3s;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  z-index: 5; }
  .float-btn i {
    display: block;
    border-radius: 20px;
    line-height: 40px;
    text-align: center;
    font-size: 20px; }
    .float-btn i:hover {
      opacity: .8;
      color: #fff;
      background-color: #35AA53; }

.gotop {
  bottom: 80px; }

.feed-back {
  bottom: 40px; }
