<div id="gotop" class="float-btn gotop">
    <i class="fa fa-arrow-up fa-stack-1x"></i>
</div>
<div class="float-btn feed-back">
    <a href="https://support.qq.com/product/67072" target="_blank">
        <i class="fa fa-commenting fa-stack-2x"></i>
    </a>
</div>