<% if (page.prev || page.next) { %>
  <nav class="pagination">
    <%- paginator({
      prev_text: '<i class="iconfont icon-arrow-left"></i>',
      next_text: '<i class="iconfont icon-arrow-right"></i>',
      escape: false
    }) %>
  </nav>
<% } %>
