$brand-color: #f0534e;
$brand-b-color: #004b6b;
.article {
  margin: 64px 0 80px;
  padding: 80px 100px 0;
  background-color: white;
  color: #333;
  font-size: 16px;
  line-height: 30px;
  > .title {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, 'Open Sans','FZQKBYSJT', 'KaiTi', '楷体', "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  > .sub {
    opacity: .5;
    margin-bottom: 20px;
  }
  > .content {
    padding-bottom: 64px;
    h1, h2, h3, h4, h5{
      font-size: 24px;
      font-weight: 600;
      line-height: 40px;
      margin-bottom: 15px;
    }
    hr{
      max-width: 60%;
      border-top: 1px solid #5e616d;
      margin: 4em auto;
    }
    //文章页图片居中
    img {
      max-width: 100% !important;
      height: auto;
      margin: auto;
      display: block;
    }

    p {
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 15px;
    }

    pre, .highlight {
      overflow: auto;;
      padding: 0;
      color: #333;
      font-size: 13px;
      background: #f8f8f8;
      .gutter {
        text-align: right;
        width: 8%;
        pre {
          background-color: #f0f0f0;
          padding: 0 10px;
        }
      }
      .code {
        padding: 0 10px;
      }
    }
    .highlight {
      margin-bottom: 15px;
    }

    ul, ol {
      margin: 15px 0;
      margin-left:15px;
      > li {
        padding-left: 20px;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 15px;
          margin-top: -3px;
          width: 6px;
          height: 6px;
          border-radius: 100%;
          background-color: #444;
        }
      }
    }
    a {
      color: $brand-b-color;
      text-decoration: none;
      border-bottom: dotted 1px #ababab;
      &:hover {
        color:#409eff;
        border-bottom: solid 1px #409eff;
      }
    }

    strong {
      font-weight: 500;
    }


    figure > img {
      display: block;
    }

    figcaption {
      font-size: 14px;
    }

    blockquote {
      border-left: 4px solid #ddd;
      border-left: 5px solid #ccc;
      padding: .5em 10px;
      margin: 1rem 10px;
      font-size: .75em;
      background: inherit;
      background-color: #fff6f7;
      color: #697b8c;
      quotes: "\201C" "\201D" "\2018" "\2019";
      border-radius: .4em;
      border-left: .3em solid #de1c31;
      font-weight: 500;
      font-family: 'FZSKBXKJ', serif;
      //font-family: 'Open Sans', "Helvetica Neue", "Helvetica", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif;

      > :last-child {
        margin-bottom: 0;
      }

      p {
        margin: 0;
        line-height: 1.8;
      }

      footer {
        border-top: none;
        font-size: 1.2em;
        line-height: 1;
        margin: 20px 0 0;
        padding: 0;
        text-align: right;

        &:before {
          content: '\2014 \00A0';
        }

        cite {
          font-style: italic;

          &:before {
            content: '·';
            color: #ccc;
            padding: 0 0.5em;
          }
        }
      }
    }

    p code {
      padding: 2px 4px;
      word-wrap: break-word;
      color: #eb4537;
      background: #f9f2f4;
      border-radius: 3px;
      font-size: 13px;
    }

    table {
      margin: 20px 0;
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      border: 1px solid #ddd;
      table-layout: fixed;
      word-wrap: break-all;
      >tbody>tr {
        &:nth-of-type(odd) { background-color: #f9f9f9; }
        &:hover { background-color: #f5f5f5; }
      }
      caption, th {
        padding: 5px;
        text-align: center;
        vertical-align: middle;
        font-weight: normal;
      }

      td {
        padding: 5px;
        text-align: left;
        vertical-align: middle;
        font-weight: normal;
      }

      th, td {
        border-bottom: 3px solid #ddd;
        border-right: 1px solid #eee;
      }

      th {
        padding-bottom: 10px;
        font-weight: 700;
      }

      td { border-bottom-width: 1px; }
    }

    * {
      max-width: 100%;
    }
  }
  > footer {
    padding: 40px 0;
    border-top: solid 1px #eee;
    > .link {
      font-size: 16px;
      line-height: 22px;
    }
  }
  @media screen and (max-width: 600px) {
    padding: 20px 20px 0;
    margin: 20px 0;
    > footer {
      padding: 10px 0;
      .f-fl,
      .f-fr
      {
        padding-top: 10px;
        text-align: center;
        width: 100% !important;
      }
  }
  }
}
